body{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.obraz{
    background-image: url(Bez\ tytułu.png);
    width: auto;
    height: 250px;
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
}
.prawy{
    width: 40%;
    height: 200px; 
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
    float: left;

}
.lewy{
    width: 60%;
    height: 200px;
    float: left;
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
}